.home-content .main-content .class{
    justify-content: space-between;
    margin:10px;
    }
  
  .homecontent .main-content .form{
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  }
  .home-content .main-content .form .search{
      font-size: 16px;
      font-weight: 400;
      color: #000;
      padding: 10px;
      border: 1px solid #6d9976;
      border-radius: 15px;
      width: 13rem;
   }
   .home-content .main-content .form #searchtable #disable  {
    color: #666;
  }
  
  .home-content .main-content .form option[value=""][disabled] {
    display: none;
  }
  
  .error{
    position: absolute;
    top: 39%;
    left: 42%;
    color: red;
    font-weight: bold;
  }
  #sport{
    
      top: 38%;
      left: 36%;
      
  }    
  
  .error {
    background-color: #D6EFC7;
    color: red;
    padding: 10px;
    border-radius: 10px;
    width: 45%;
    font-size: small;
    margin-left: 0.5rem;
    text-align: center;
  }
  .btn{
  color: #fff;
  background: #3B6E51;
  padding: 4px 12px;
  font-size: 15px;
  font-weight: 400;
  border-radius: 10px;
  width: 40%;
  height: 50%;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content:center;
  padding:10px;
  border: none;
  }
  
  
  .btn:hover{
    background:  #264838;
  cursor: pointer;
  }
  
  .button{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content:center;
  padding:40px;
  
  }
  .button a{
  color: #fff;
  background: #3B6E51;
  padding: 4px 12px;
  font-size: 15px;
  font-weight: 400;
  border-radius: 10px;
  width: 40%;
  height: 50%;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s ease;
  }
  
  .btn-new {
    background-color: #0A2558;
    color: white;
    font-size: 1.0rem;
    padding: 6px 12px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
  }
  
  .btn-new:hover {
    background-color: darkblue;
    color: white;
    border-color: #0A2558;
    cursor: pointer;
  }
  
  .main-content .form .button a:hover{
  background:  #264838;
  cursor: pointer;
  }
  #products-refreshments{
    
      border: none;
      border-collapse: collapse;
      width: 100%;
    }
    
    #products-refreshments th {
      background-color: #f2f2f2;
      padding: 8px;
      text-align: left;
    }
    
    #products-refreshments td {
      padding: 8px;
      text-align: center;
    }
    
    #products-refreshments td img {
      width: 100px; /* Change this value to the width you want */
      height: auto;
    }
    
  
  .table{
    width: 100%;
    margin: 3% auto;
    max-width: 1200px;
    text-align: center;
    border: #6d9976 2px solid;
    border-radius: 20px;
    border-collapse: collapse;
  }
  
  .table th{
    padding: 10px;
    font-size: 18px;
    font-weight: 600;
    background: #6d9976;
    color: #000;
    text-align: center;
  }
  
  .table td{
    padding: 10px;
    font-size: 18px;
    font-weight: 600;
    color: #000;
    text-align: center;
  }
  
  #verify-table {
       float: left;
      margin-right: 265px;
      margin-top: 8px;
  }
  
  #orders {
    float: left;
    margin-right: 826px;
    margin-top: 7px;
}
  #payment-table {
    float: left;
    margin-right: 773px;
      margin-top: 23px;
  }
  

  #supplyorders {
      float: left;
      margin-right: 830px;
      margin-top: -4px;
  }
  /* 
  .table tr:nth-child(odd) {
  background-color: #d9d9d9;
  border: 2px solid #d9d9d9;
  }
  
  .table tr:nth-child(even) {
  background-color: #8e8e8e;
  border: 2px solid #8e8e8e;
  } */
  
  /* .table a{
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-weight: bold;
  } */
  
  .table a:hover{
  color: rgb(0, 0, 0);
  /* font-size: 1.1rem; */
  padding: 0px;
  font-weight: bolder;
  }
  
  .home-content .main-content .class .table .btn{
  margin-right:20px;
  align-items: center;
  justify-content: center;
  }
  
  .home-content .main-content .class .table .button a{
    color: #fff;
    text-decoration: none;
  
  }
  
  .home-content .main-content .class .table .button a:hover{
    background:  #264838;
    cursor: pointer;
    text-decoration: none;
  }
  
  .button .btn{
  margin-top:-78px;
  margin-right:-500px;
  }
  
  .button .btn2{
    margin-top:-25px;
    margin-right:-500px;
    }
    .btn2{
      color: #fff;
      background: #3B6E51;
      padding: 4px 12px;
      font-size: 15px;
      font-weight: 400;
      border-radius: 10px;
      width: 40%;
      height: 50%;
      text-align: center;
      text-decoration: none;
      transition: all 0.3s ease;
      display: flex;
      align-items: center;
      justify-content:center;
      padding:10px;
      border: none;
      }
      
      
      .btn2:hover{
        background:  #264838;
      cursor: pointer;
      }
      
  .form{
  margin: 0% auto;
  width: 100%;
  max-width: 700px;
  padding: 15px;
  padding-top: 10px;
  
  }
  
  
  .form input{
  width: 40%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 16px;
  /* resize: vertical; */
  }
  .form .radio {
    margin:0px 5px 0px 90px;
    width:10%;
  }
  
  .form label{
  padding: 12px 12px 12px 0;
  display: inline-block;
  }
  
  h1{
  margin-bottom: 30px;
  justify-content: center;
  
  }
  
  
  .main-content .form .plus{
  color: #fff;
  background: #0A2558;
  border-radius: 100%;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
  margin-left:750px;
  }
  
  
    
    
    /* Responsive Media Query */
    @media (max-width: 1240px) {
      .sidebar{
        width: 60px;
      }
      .sidebar.active{
        width: 220px;
      }
      .home-section{
        width: calc(100% - 60px);
        left: 60px;
      }
      .sidebar.active ~ .home-section{
        left: 220px;
        width: calc(100% - 220px);
        overflow: hidden;
      }
      .home-section nav{
        width: calc(100% - 60px);
        left: 60px;
      }
      .sidebar.active ~ .home-section nav{
        width: calc(100% - 220px);
        left: 220px;
      }
    }
    @media (max-width: 1150px) {
      .home-content .sales-boxes{
        flex-direction: column;
      }
      .home-content .sales-boxes .box{
        width: 100%;
        overflow-x: scroll;
        margin-bottom: 30px;
      }
      .home-content .sales-boxes .top-sales{
        margin: 0;
      }
    }
    @media (max-width: 1000px) {
      .overview-boxes .box{
        width: calc(100% / 2 - 15px);
        margin-bottom: 15px;
      }
    }
    @media (max-width: 700px) {
      nav .sidebar-button .dashboard,
      nav .profile-details .admin_name,
      nav .profile-details i{
        display: none;
      }
      .home-section nav .profile-details{
        height: 50px;
        min-width: 40px;
      }
      .home-content .sales-boxes .sales-details{
        width: 560px;
      }
    }
    @media (max-width: 550px) {
      .overview-boxes .box{
        width: 100%;
        margin-bottom: 15px;
      }
      .sidebar.active ~ .home-section nav .profile-details{
        display: none;
      }
    }
    @media (max-width: 400px) {
      .sidebar{
        width: 0;
      }
      .sidebar.active{
        width: 60px;
      }
      .home-section{
        width: 100%;
        left: 0;
      }
      .sidebar.active ~ .home-section{
        left: 60px;
        width: calc(100% - 60px);
      }
      .home-section nav{
        width: 100%;
        left: 0;
      }
      .sidebar.active ~ .home-section nav{
        left: 60px;
        width: calc(100% - 60px);
      }
    }
  
    
    .report-generator {
      margin: 50px auto;
      width: 80%;
      max-width: 500px;
      border: 1px solid #ccc;
      padding: 20px;
      border-radius: 5px;
      text-align: center;
    }
    
    .report-generator h2 {
      margin-top: 0;
      margin-bottom: 20px;
    }
    
    .report-generator form {
      display: inline-block;
      text-align: left;
    }
    
    .report-generator label {
      display: block;
      margin-bottom: 5px;
    }
    
    .report-generator select, .report-generator input[type="month"] {
      width: 100%;
      padding: 10px;
      margin-bottom: 20px;
      border: 1px solid #ccc;
      border-radius: 5px;
    }
    
    .report-generator input[type="submit"] {
      background-color: #4CAF50;
      color: #fff;
      border: none;
      padding: 10px 20px;
      border-radius: 5px;
      cursor: pointer;
    }
    
    .report-generator input[type="submit"]:hover {
      background-color: #3e8e41;
    }
    
    #generate-report {
      display: block;
      margin: 0 auto;
    }
    .home-content .overview-boxes{
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      padding: 0 20px;
      margin-bottom: 26px;
    }
    .overview-boxes .box{
      display: flex;
      align-items: center;
      justify-content: center;
      width: calc(100% / 4 - 15px);
      background: #fff;
      padding: 15px 14px;
      border-radius: 12px;
      box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    }
    .overview-boxes .box-topic{
      font-size: 20px;
      font-weight: 500;
    }
    .home-content .box .number{
      display: inline-block;
      font-size: 35px;
      margin-top: -6px;
      font-weight: 500;
    }
    .home-content .box .indicator{
      display: flex;
      align-items: center;
    }
    .home-content .box .indicator i{
      height: 20px;
      width: 20px;
      background: #8FDACB;
      line-height: 20px;
      text-align: center;
      border-radius: 50%;
      color: #fff;
      font-size: 20px;
      margin-right: 5px;
    }
    .box .indicator i.down{
      background: #e87d88;
    }
    .home-content .box .indicator .text{
      font-size: 12px;
    }
    .home-content .box .bx-calendar-check {
      display: inline-block;
      font-size: 32px;
      height: 50px;
      width: 50px;
      background: #cce5ff;
      line-height: 50px;
      text-align: center;
      color: #66b0ff;
      border-radius: 12px;
      margin: -15px 0 0 6px;
    }
    
    .home-content .box .bx-calendar-plus {
      display: inline-block;
      font-size: 32px;
      height: 50px;
      width: 50px;
      line-height: 50px;
      text-align: center;
      border-radius: 12px;
      margin: -15px 0 0 6px;
      color: #2BD47D;
      background: #C0F2D8;
    }
    
    .home-content .box .bx-calendar-x {
      display: inline-block;
      font-size: 32px;
      height: 50px;
      width: 50px;
      line-height: 50px;
      text-align: center;
      border-radius: 12px;
      margin: -15px 0 0 6px;
      color: #e05260;
      background: #f7d4d7;
    }
     
    .home-content .box .bx-calendar-alt {
      display: inline-block;
      font-size: 32px;
      height: 50px;
      width: 50px;
      line-height: 50px;
      text-align: center;
      border-radius: 12px;
      margin: -15px 0 0 6px;
      color: #ffc233;
     background: #ffe8b3;
    }
    .boxes .title{
      font-size: 24px;
      text-align: center;
      font-weight: 500;
      /* margin-bottom: 10px; */
    }
    .left-box .title{
      font-size: 24px;
      text-align: center;
      font-weight: 500;
      justify-content: center;
      align-items: center;
      /* margin-bottom: 10px; */
    }
    .home-content .main-content .title{
      font-size: 24px;
      text-align: center;
      font-weight: 500;
      justify-content: center;
      /* margin-bottom: 10px; */
    }
    
  
    #myChart {
      margin-top: 21px;
      height: 250px; /* Set the height to 400 pixels */
    width: 100px; /* Set the width to 600 pixels */
  } /* Set the top margin to create space between the chart and the title */
    
  #myChart2 {
    margin-top: -15px;
    height: 500px; /* Set the height to 400 pixels */
  width: 100px; /* Set the width to 600 pixels */
  } 
  
  
  .home-content .main-content .content #noti{
    margin-left: 25%;
    width: 50%;
    margin-bottom: 2%;
    border-collapse: separate;
    border-spacing: 10px;
    border: 0;
  } 
  
  .home-content .main-content .content #noti tr:nth-child(odd) {
    background-color: #D6EFC7;
    border: 2px solid #D6EFC7;
  }
    
  .home-content .main-content .content #noti tr:nth-child(even) {
    background-color: #c4d4cc;
    border: 2px solid #c4d4cc;
  }
  
  .home-content .main-content .content .table{
    width: 100%;
    margin: 3% auto;
    max-width: 1200px;
    text-align: center;
    border: #6d9976 2px solid;
    border-radius: 20px;
    border-collapse: collapse;
  }
    
  .home-content .main-content .content .table th{
    padding: 10px;
    font-size: 18px;
    font-weight: 600;
    background: #6d9976;
    color: #000;
    text-align: center;
  }
    
  .home-content .main-content .content .table td{
    padding: 10px;
    font-size: 18px;
    font-weight: 600;
    color: #000;
    text-align: center;
  }
  
  .home-content .main-content .content .table tr{
    background-color: #fff;
  }
    
  .home-content .main-content .content .table a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: bold;
  }
    
  .home-content .main-content .content .table a:hover{
    color: rgb(0, 0, 0);
    font-weight: bolder;
    padding: 0px;
    /* font-size: 1.1rem; */
  }
  
  .home-content .main-content .content .button{
      width: 75%;
      display: flex;
      justify-content: space-evenly;
      padding: 3rem;
      margin-left: 10rem;
  }
  
  .home-content .main-content .content .button a{
      color: #fff;
      background: #3B6E51;
      padding: 0.5rem 1rem;
      font-size: 1rem;
      font-weight: 400;
      border-radius: 0.3rem;
      text-decoration: none;
      transition: all 0.3s ease;
  }
  
  .home-content .main-content .content .button a:hover{
      background:  #264838;
      cursor: pointer;
  }
  
  
  .chckbox {
    transform: scale(1.5); /* Increase the size of the checkbox */
    margin: 0; /* Remove any default margin */
    padding: 0; /* Remove any default padding */
  }



/* CSS for popup */

.popup_u {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}
  
.popup_u-content {
  background-color: #fefefe;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
}
  
.close_u {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.popup_u h2{
  text-align: center;
  text-justify: inter-word;
  margin-bottom: 10px;
  margin-top: 0;
}
  
.close_u:hover, .close_u:focus {
  color: red;
  text-decoration: none;
  cursor: pointer;
}
  
.input-field{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-size: 16px;
}
input[type=text], textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
  
.popup_u .btn{
  background: #264838;
  background: linear-gradient(0deg, #264838 0%, #3B6E51 100%);
  border: none;
  width: 80%;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  outline: none;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 10%;
  box-shadow:inset 2px 2px 2px 0px rgba(214,239,199,.5), 7px 7px 20px 0px rgba(0,0,0,.1), 4px 4px 5px 0px rgba(0,0,0,.1);
}

.popup_u .btn:before {
    height: 0%;
    width: 2px;
}
  
.popup_u .btn:hover {
    box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
                -4px -4px 6px 0 rgba(116, 125, 136, .5), 
      inset -4px -4px 6px 0 rgba(255,255,255,.2),
      inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
}

/* adding background image to page */

/* confirm cancel popup css */

.home-section .home-content .main-content .content table button{
  background:none;
  border: 0;
  font-size: 25px;
  margin-left: 10px;
  cursor: pointer;
}

.confirm-box {
  position: fixed;
  max-width: 25rem;
  top: 50%;
  left: 55%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background: white;
  border-radius: 20px;
  box-shadow: 2px 2px 3px 3px rgba(0, 0, 0, 0.2), 2px 6px 3px 3px rgba(0, 0, 0, 0.2); 
}

.confirm-box h2, .confirm-box h4{
  text-align: justify;
  text-justify: inter-word;
  margin-bottom: 10px;
  margin-top: 0;
}

.confirm-box ul {
  list-style: disc;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.confirm-box li {
  margin-bottom: 10px;
}

.confirm-box button {
  margin-top: 10px;
  margin: 10px;
  background-color: #3B6E51;
  color: #fff;
  padding: 2% 6%;
  border: 0;
  border-radius: 20px;
  font-size: 18px;
}

.confirm-box button:hover{
  cursor: pointer;
  background-color: #264838;
}

.confirm-box #cancel-button{
  float: right;
  background-color: red;
}

.submit-button i {
  margin-right: 5px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
}


 /*delete popup*/
  
 .popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}

/* confirm cancel popup css */

.home-section .home-content .main-content .content table button{
  background:none;
  border: 0;
  font-size: 25px;
  margin-left: 10px;
  cursor: pointer;
}

.confirm-box {
  width: 30rem;
  position: fixed;
  max-width: 30rem;
  top: 50%;
  left: 55%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background: white;
  border-radius: 20px;
  box-shadow: 2px 2px 3px 3px rgba(0, 0, 0, 0.2), 2px 6px 3px 3px rgba(0, 0, 0, 0.2); 
}

.confirm-box h2, .confirm-box h4{
  text-align: center;
  text-justify: inter-word;
  margin-bottom: 10px;
  margin-top: 0;
}

.confirm-box ul {
  list-style: disc;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.confirm-box li {
  margin-bottom: 10px;
}

.confirm-box button {
  margin-top: 10px;
  margin: 10px;
  background-color: #3B6E51;
  color: #fff;
  padding: 2% 6%;
  border: 0;
  border-radius: 20px;
  font-size: 18px;
}

.confirm-box button:hover{
  cursor: pointer;
  background-color: #264838;
}

.confirm-box #cancel-button{
  float: right;
  background-color: red;
}

.submit-button i {
  margin-right: 5px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
}
