
.home-content .main-content .content h3{
    padding: 8px;
    background-color: red;
    width: 80%;
    margin-left: 10%;
    color: #fff;
}
 
      /* DIV  */

.content .left {
  overflow-y: auto;
  background-color: #ffffff;
  width: 60%;
  height: 39rem;
  border-radius: 20px;
  margin-left: 3rem;
  margin-top: 2rem;
  box-shadow: 2px 2px 3px 3px rgba(0, 0, 0, 0.2), 2px 6px 3px 3px rgba(0, 0, 0, 0.2);
}

.content .right {
  display: flex;
  flex-direction: column;
  float: right;
  width: 30%;
  /* height: 39rem; */
  margin-right: 2rem;
  margin-top: -39rem;
  margin-bottom: 2rem;
  border-radius: 20px;
}

.content .right .top {
  margin-top: 20%;
  flex: 1;
  border-radius: 20px;
  box-shadow: 2px 2px 3px 3px rgba(0, 0, 0, 0.2), 2px 6px 3px 3px rgba(0, 0, 0, 0.2);
}

.content .right .bottom {
  flex: 1;
  border-radius: 20px;
  margin-top: 20%;
  box-shadow: 2px 2px 3px 3px rgba(0, 0, 0, 0.2), 2px 6px 3px 3px rgba(0, 0, 0, 0.2);
}

.content .right .top h3, .content .right .bottom h3{
  text-align: center;
  background-color: #D6EFC7;
  color: #6d9976;
}

.content .right .top h4, .content .right .bottom h4{
  text-align: center;
  font-weight: normal;
}

.home-content .main-content .content table{
  width: 94%;
  margin: 3% ;
  border-collapse: collapse;
  text-align: center;
  max-width: 94%;
}

.home-content .main-content .content table th{
padding: 8px;
font-size: 20px;
font-weight: 600;
background: #6d9976;
color: #000;
text-align: center;
margin-top: 3%;
}

.home-content .main-content .content table td{
padding: 3px;
font-size: 18px;
font-weight: 400;
color: #000;
text-align: center;
width: 26%;
}

.home-content .main-content .content table tr{
border-spacing: 10px;
}

.home-content .main-content .content tr:nth-child(odd) {
  background-color: #D6EFC7;
}
  
.home-content .main-content .content tr:nth-child(even) {
  background-color: #c4d4cc;
}

tfoot {
  border-top: 2px solid #ffffff;
}

.content .right .enroll {
  background: #264838;
  background: linear-gradient(0deg, #264838 0%, #3B6E51 100%);
  border: none;
  width: 200px;
  /* height: 50px; */
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  outline: none;
  margin-top: 4%;
  margin-bottom: 4%;
  margin-left: 28%;
  box-shadow:inset 2px 2px 2px 0px rgba(214,239,199,.5), 7px 7px 20px 0px rgba(0,0,0,.1), 4px 4px 5px 0px rgba(0,0,0,.1);
}

.content .right .enroll:before {
  height: 0%;
  width: 2px;
}

.content .right .enroll:hover {
  box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
              -4px -4px 6px 0 rgba(116, 125, 136, .5), 
    inset -4px -4px 6px 0 rgba(255,255,255,.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
}

    /* Delete cart form */

.deletecart button[name="delete_item"] {
  background: none;
  border: none;
  padding: 0;
  color: red;
  cursor: pointer;
  font-size: 18px;
}