
.home-content .main-content .content #searchtable .search{
  font-size: 18px;
  font-weight: 400;
  color: #000;
  padding: 10px;
  border: 1px solid #6d9976;
  border-radius: 20px;
  width: 15rem;
  margin-left: 10rem;
  margin-top: 2rem;
}

.home-content .main-content .content #searchbtn{
  background: #6d9976;
  color: #000;
  border: 1px solid #6d9976;
  border-radius: 20px;
  padding: 0.5rem 1rem;
  font-size: 18px;
  font-weight: 400;
  transition: all 0.3s ease;
}

.home-content .main-content .content #searchtable #resetbtn {
  background: #6d9976;
  color: #000;
  border: 1px solid #6d9976;
  border-radius: 20px;
  padding: 0.5rem 1rem;
  font-size: 18px;
  font-weight: 400;
  transition: all 0.3s ease;
  margin-left: 7rem;
}

.home-content .main-content .content #searchtable #resetbtn:hover{
  background: #264838;
  color: #fff;
  cursor: pointer;
}

.home-content .main-content .content #searchbtn:hover{
  background: #264838;
  color: #fff;
  cursor: pointer;
}

.home-content .main-content .content #searchtable #disable  {
  color: #666;
}

.home-content .main-content .content form option[value=""][disabled] {
  display: none;
}

.home-content .main-content .content .table{
  width: 90%;
  margin: 3% ;
  margin-left: 5%;
  border-collapse: collapse;
  text-align: center;
  max-width: 90%;
}

.home-content .main-content .content .table th{
padding: 10px;
font-size: 20px;
font-weight: 600;
background: #6d9976;
color: #000;
text-align: center;
margin-top: 3%;
}

.home-content .main-content .content .table td{
padding: 10px;
font-size: 18px;
font-weight: 400;
color: #000;
text-align: center;
width: 16%;
}

.home-content .main-content .content .table tr{
 border-spacing: 10px;
}

.home-content .main-content .content .table tr:nth-child(odd) {
  background-color: #D6EFC7;
}
  
.home-content .main-content .content .table tr:nth-child(even) {
  background-color: #c4d4cc;
}

.home-content .main-content .content h3{
  padding: 8px;
  background-color: red;
  width: 80%;
  margin-left: 10%;
  color: #fff;
  margin-bottom: 3%;
}

/* confirm cancel popup css */

.home-section .home-content .main-content .content table button{
  background:none;
  border: 0;
  font-size: 25px;
  margin-left: 10px;
  cursor: pointer;
}

.confirm-box {
  position: fixed;
  max-width: 25rem;
  top: 50%;
  left: 55%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background: white;
  border-radius: 20px;
  box-shadow: 2px 2px 3px 3px rgba(0, 0, 0, 0.2), 2px 6px 3px 3px rgba(0, 0, 0, 0.2); 
}

.confirm-box h2, .confirm-box h4{
  text-align: justify;
  text-justify: inter-word;
  margin-bottom: 10px;
  margin-top: 0;
}

.confirm-box ul {
  list-style: disc;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.confirm-box li {
  margin-bottom: 10px;
}

.confirm-box button {
  margin-top: 10px;
  margin: 10px;
  background-color: #3B6E51;
  color: #fff;
  padding: 2% 6%;
  border: 0;
  border-radius: 20px;
  font-size: 18px;
}

.confirm-box button:hover{
  cursor: pointer;
  background-color: #264838;
}

.confirm-box #cancel-button{
  float: right;
  background-color: red;
}

.submit-button i {
  margin-right: 5px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
}


      /* Client classes page  */

.content .left {
  overflow-y: auto;
  background-color: #ffffff;
  width: 62%;
  height: 33rem;
  border-radius: 20px;
  margin-left: 2rem;
  margin-top: 2rem;
  box-shadow: 2px 2px 3px 3px rgba(0, 0, 0, 0.2), 2px 6px 3px 3px rgba(0, 0, 0, 0.2);
}

.content .right {
  display: flex;
  flex-direction: column;
  float: right;
  width: 30%;
  height: 33rem;
  margin-right: 2rem;
  margin-top: -33rem;
  margin-bottom: 2rem;
  border-radius: 20px;
}

.content .right .bottom {
  flex: 1;
  border-radius: 20px;
  box-shadow: 2px 2px 3px 3px rgba(0, 0, 0, 0.2), 2px 6px 3px 3px rgba(0, 0, 0, 0.2);
}

.content .right .top h3, .content .right .bottom h3{
  text-align: center;
  background-color: #D6EFC7;
  color: #6d9976;
}

.content .right .top h4, .content .right .bottom h4{
  margin-top: 10%;
  margin-bottom: 10%;
  margin-left: 5%;
  margin-right: 5%;
  text-align: center;
  font-weight: normal;
}

.content .right .bottom .enroll {
  background: #264838;
  background: linear-gradient(0deg, #264838 0%, #3B6E51 100%);
  border: none;
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  outline: none;
  margin-top: 2%;
  margin-bottom: 4%;
  margin-left: 15%;
  box-shadow:inset 2px 2px 2px 0px rgba(214,239,199,.5), 7px 7px 20px 0px rgba(0,0,0,.1), 4px 4px 5px 0px rgba(0,0,0,.1);
}

.content .right .bottom .enroll:before {
  height: 0%;
  width: 2px;
}

.content .right .bottom .enroll:hover {
  box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
              -4px -4px 6px 0 rgba(116, 125, 136, .5), 
    inset -4px -4px 6px 0 rgba(255,255,255,.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
}

.content .right .bottom .sw{
  margin-left: 37%;
}

/* success message */

.success-message {
  background-color: #D6EFC7;
  color: #6d9976;
  padding: 10px;
  margin-bottom: 2%;
  border-radius: 10px;
  margin-right: 2rem;
  margin-left: 2rem;
}

.unsuccess-message {
  background-color: #D6EFC7;
  color: red;
  padding: 10px;
  margin-bottom: 2%;
  border-radius: 10px;
  margin-right: 2rem;
  margin-left: 2rem;
} 

.notsuccess-message {
  background-color: #D6EFC7;
  color: red;
  padding: 10px;
  margin-bottom: 2%;
  border-radius: 10px;
  margin-right: 2rem;
  margin-left: 2rem;
} 