.home-content .main-content .content #tableprofile{
  width: 80%;
  margin: 3% auto;
  float: left;
  margin-top: 10%;
  margin-left: 15%;
}

.home-content .main-content .content #tableprofile .mylabel{
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
  color: #000;
  text-align: left;
  border-radius: 20px;
  width: fit-content;
}

.home-content .main-content .content #tableprofile .mydata{
  padding: 10px;
  font-size: 18px;
  /* background: #6d9976; */
  color: #000;
  text-align: center;
  border-radius: 20px;
  width: 50%;
}

 /* profile update button popup css */

.form-popup {
  display: none;
  position: fixed;
  z-index: 9;
  width: 18rem;
  height: 15rem;
  margin-left: -35rem;
  margin-top: -10rem;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 2px 2px 3px 3px rgba(0, 0, 0, 0.2), 2px 6px 3px 3px rgba(0, 0, 0, 0.2); 
}

.form-container {
  max-width: 18rem;
  padding: 10px;
  background-color: white;
}

.form-container label{
  font-size: 1.5rem;
}

.form-container input[type=tel], .form-container input[type=text]{
  width: 100%;
  padding: 15px;
  margin: 25px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

.form-container input[type=tel]:focus, .form-container input[type=text]:focus{
  background-color: #ddd;
  outline: none;
}

.form-container #update-btn{
  background-color: #3B6E51;
  border: none;
  color: #fff;
  margin-top: 4 rem;
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 20px;
}

.form-container #cancel-btn{
  background-color: red;
  border: none;
  color: #fff;
  margin-top: 4 rem;
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 20px;
  float: right;
}

.form-container button{
  background:none;
  border: 0;
  margin-left: 10%;
}

.form-container .btn:hover, .open-button:hover {
  cursor: pointer;
}

      /* DIV boxes  */

.content .left {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 40%;
  height: 38rem;
  border-radius: 20px;
  margin-left: 3rem;
  margin-top: 2rem;
}

.content .right {
  display: flex;
  flex-direction: column;
  float: right;
  width: 50%;
  height: 38rem;
  margin-right: 2rem;
  margin-top: -38rem;
  margin-bottom: 2rem;
  border-radius: 20px;
  box-shadow: 2px 2px 3px 3px rgba(0, 0, 0, 0.2), 2px 6px 3px 3px rgba(0, 0, 0, 0.2); 
}

.content .left .top {
  flex: 1;
  border-radius: 20px;
  box-shadow: 2px 2px 3px 3px rgba(0, 0, 0, 0.2), 2px 6px 3px 3px rgba(0, 0, 0, 0.2);
}

.content .left .bottom {
  flex: 1;
  border-radius: 20px;
  margin-top: 20px;
  box-shadow: 2px 2px 3px 3px rgba(0, 0, 0, 0.2), 2px 6px 3px 3px rgba(0, 0, 0, 0.2);
}

.content .left .top h3, .content .right h3{
  text-align: center;
  background-color: #D6EFC7;
  color: #6d9976;
  width: 80%;
  margin-left: 10%;
  padding: 8px;
}

.content .left .details h3{
  text-align: center;
  color: #6d9976;
  width: 80%;
  margin-left: 10%;
}

.content .left .btn {
  background: #264838;
  background: linear-gradient(0deg, #264838 0%, #3B6E51 100%);
  border: none;
  width: 300px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  outline: none;
  margin-bottom: 2%;
  margin-left: 27.5%;
  box-shadow:inset 2px 2px 2px 0px rgba(214,239,199,.5), 7px 7px 20px 0px rgba(0,0,0,.1), 4px 4px 5px 0px rgba(0,0,0,.1);
}

.content .left .btn:before {
  height: 0%;
  width: 2px;
}

.content .left .btn:hover {
  box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
              -4px -4px 6px 0 rgba(116, 125, 136, .5), 
    inset -4px -4px 6px 0 rgba(255,255,255,.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
}

/* Popup container */
.popup , .popup1, .popup2, .popup3 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
/* Popup content */
.popup-content {
  background-color: #fefefe;
  margin: 10% auto; /* 10% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 30%; /* Could be more or less, depending on screen size */
}

input[type=password], input[type=tel],input[type=text]{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.popup-content h3{
  text-align: center;
  text-justify: inter-word;
  margin-bottom: 10px;
  margin-top: 0;
}

.popup-content .btn{
  background: #264838;
  background: linear-gradient(0deg, #264838 0%, #3B6E51 100%);
  border: none;
  width: 200px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  outline: none;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 30%;
  box-shadow:inset 2px 2px 2px 0px rgba(214,239,199,.5), 7px 7px 20px 0px rgba(0,0,0,.1), 4px 4px 5px 0px rgba(0,0,0,.1);
}

.popup-content .btn::before{
  height: 0%;
  width: 2px;
}

.popup-content .btn:hover {
  box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
              -4px -4px 6px 0 rgba(116, 125, 136, .5), 
    inset -4px -4px 6px 0 rgba(255,255,255,.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
}

/* Close button */
.close {
  color: #aaa;
  float: right;
  font-size: 30px;
  font-weight: bold;
}

.close:hover, .close:focus {
  color: red;
  text-decoration: none;
  cursor: pointer;
}

/* success message */

.success-message {
  background-color: #D6EFC7;
  color: #6d9976;
  padding: 10px;
  margin-bottom: 2%;
  border-radius: 10px;
  margin-right: 2rem;
  margin-left: 2rem;
}

.notsuccess-message {
  background-color: #D6EFC7;
  color: red;
  padding: 10px;
  margin-bottom: 2%;
  border-radius: 10px;
  margin-right: 2rem;
  margin-left: 2rem;
}

.unsuccess-message {
  background-color: #D6EFC7;
  color: red;
  padding: 10px;
  margin-bottom: 2%;
  border-radius: 10px;
  margin-right: 2rem;
  margin-left: 2rem;
}
 
/* Profile picture */     

.profilepic img{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-left: 115%;
  object-fit: cover;
  margin-top: 10%;
}

.content .profilepic input[type="file"] {
  display: none;
  margin-bottom: 2%;
}

.profilepic table td label i{
  font-size: 2rem;
  color: #3B6E51;
  padding-top: 160px;
  padding-left: 180px;
}

.profilepic label i:hover{
  color: #264838
}