
.home-content .main-content .content #searchtable .search{
  font-size: 18px;
  font-weight: 400;
  color: #000;
  padding: 10px;
  border: 1px solid #6d9976;
  border-radius: 20px;
  width: 15rem;
  margin-left: 10rem;
  margin-top: 2rem;
}

.home-content .main-content .content #searchbtn{
    background: #6d9976;
    color: #000;
    border: 1px solid #6d9976;
    border-radius: 20px;
    padding: 0.5rem 1rem;
    font-size: 18px;
    font-weight: 400;
    transition: all 0.3s ease;
}

.home-content .main-content .content #searchtable #resetbtn {
  background: #6d9976;
  color: #000;
  border: 1px solid #6d9976;
  border-radius: 20px;
  padding: 0.5rem 1rem;
  font-size: 18px;
  font-weight: 400;
  transition: all 0.3s ease;
  margin-left: 7rem;
}

.home-content .main-content .content #searchtable #resetbtn:hover{
  background: #264838;
  color: #fff;
  cursor: pointer;
}

.home-content .main-content .content #searchbtn:hover{
  background: #264838;
  color: #fff;
  cursor: pointer;
}

.home-content .main-content .content #searchtable #disable  {
  color: #666;
}

.home-content .main-content .content form option[value=""][disabled] {
  display: none;
}

.home-content .main-content .content h3{
    padding: 8px;
    width: 80%;
    margin-left: 10%;
    color: #000;
    text-align: center;
    font-weight: normal;
}


    /* Table */

.content form table{
  width: 94%;
  margin: 3% ;
  border-collapse: collapse;
  text-align: center;
  max-width: 94%;
}

.content form table th{
  padding: 10px;
  font-size: 20px;
  font-weight: 600;
  background: #6d9976;
  color: #000;
  text-align: center;
  margin-top: 3%;
}

.content form table td{
  padding: 10px;
  font-size: 18px;
  font-weight: 400;
  color: #000;
  text-align: center;
}

.content form table tr{
  border-spacing: 10px;
}

.content form table tr:nth-child(odd) {
  background-color: #D6EFC7;
}
    
.content table tr:nth-child(even) {
  background-color: #c4d4cc;
}

.content table button{
  background: none;
  border: none;
}

.content table button i{
  margin-right: 5px;
  cursor: pointer;
  font-size: 20px;
}

.content table input[type=number]{
  width: 40%;
}

.content table input[type=datetime-local]{
  width: 90%;
}