.main-content h1{
    font-size: 40px;
    margin-left: 10px;
}

                            /* Search & Add Class */

.serachtable{
    margin-top: 1rem;
}

#plus{
    color: #6d9976;
    margin-left: 15rem;
    margin-top: -10rem;
}

#plus:hover{
    color: #000;
}

.text{
    text-decoration: none;
    color: #6d9976;
    font-size: 20px;
    /* margin-left: 10px; */
    font-weight: bold;
}

.text:hover{
    color: #000;
}

.search{
    font-size: 16px;
    font-weight: 400;
    color: #000;
    padding: 10px;
    border: 1px solid #6d9976;
    border-radius: 20px;
    width: 20rem;
    margin-left: 40rem;
    margin-top: -15rem;
}

                                /* Background */  

.content .activeclasses{
    background-color: #ffffff;
    width: 60rem;
    height: 37rem;
    border-radius: 20px;
    float: left;
    margin-left: 1rem;
    margin-top: 2rem;
    top: 0;
    box-shadow: 2px 2px 3px 3px rgba(0, 0, 0, 0.2), 2px 6px 3px 3px rgba(0, 0, 0, 0.2);
    overflow-y: auto;
}

.content .acceptanceclasses{
    background-color: #ffffff;
    width: 37rem;
    height: 18rem;
    float: right;
    border-radius: 20px;
    margin-right: 1rem;
    margin-top: 2rem;
    box-shadow: 2px 2px 3px 3px rgba(0, 0, 0, 0.2), 2px 6px 3px 3px rgba(0, 0, 0, 0.2); 
    overflow-y: auto;
  }
  
  .content .cancellationclasses{
    background-color: #ffffff;
    width: 37rem;
    height: 18rem;
    float: right;
    border-radius: 20px;
    margin-right: -37rem;
    margin-top: 21rem;
    box-shadow: 2px 2px 3px 3px rgba(0, 0, 0, 0.2), 2px 6px 3px 3px rgba(0, 0, 0, 0.2);
    overflow-y: auto;
    }

.activeclasses h3, .acceptanceclasses h3, .cancellationclasses h3{
    text-align: center;
}

                                        /* Tables */

.table{
    width: 57rem;
    margin:  1% 2% ;
    text-align: center;
    border: #6d9976 2px solid;
    border-radius: 20px;
    border-collapse: collapse;
    display: inline-table;
}

.table th{
    padding: 10px;
    font-size: 18px;
    font-weight: 600;
    background: #6d9976;
    color: #000;
    text-align: center;
    border-right: solid 1px #ffffff;
}

.table td {
    padding: 10px;
    font-size: 18px;
    color: #000;
    text-align: center;
    border-right: solid 1px #ffffff;
}

.table tr:nth-child(odd){
    background: #f0f0f0;
}

.table td a{
    text-decoration: none;
    color: black;
    font-weight:550;
}

.table td a:hover, .table td a i:hover{
    font-weight: bold;
}

.content .datatable{
    overflow-y: auto;
}

                /* table2 */

.table2 {
    width: 34.5rem;
    margin: 1% 2%;
    border: 2px solid #6d9976;
    border-radius: 20px;
    border-collapse: collapse;
    display: inline-table;
}

.table2 th {
    padding: 10px;
    font-size: 18px;
    font-weight: 600;
    background: #6d9976;
    color: #000000;
    text-align: center;
    border-right: solid 1px #ffffff;
}

.table2 td {
    padding: 10px;
    font-size: 18px;
    color: #000;
    text-align: center;
    border-right: solid 1px #ffffff;
}

.table2 tr:nth-child(odd) {
    background: #f0f0f0;
}

.table2 td a {
    text-decoration: none;
    color: black;
}

.table2 td a:hover,
.table2 td a i:hover {
    text-decoration: underline;
    font-weight: bold;
}

#status{
    font-weight: bold;
}

                                        /*  button */

#searchbtn{
    background: #6d9976;
    color: #000;
    border: 1px solid #6d9976;
    border-radius: 20px;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: 400;
    transition: all 0.3s ease;
}

#searchbtn:hover{
    background: #264838;
    color: #fff;
    cursor: pointer;
}

#resetbtn{
    background: #6d9976;
    color: #000;
    border: 1px solid #6d9976;
    border-radius: 20px;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: 400;
    transition: all 0.3s ease;
}

#resetbtn:hover{
    background: #264838;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
}

                                /* Popup container */


.popup {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

                              /* Popup content */

.popup-content {
  background-color: #fefefe;
  margin: 10% auto; /* 10% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 30%; /* Could be more or less, depending on screen size */
}

input[type=number],input[type=text]{
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  margin-left: 8.5rem;
  font-size: 1rem;
  font-weight: 400;
  border: 2px solid #6d9976;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 1.3rem;
  box-sizing: border-box;
}

.popup-content h3{
  text-align: center;
  margin-bottom: 10px;
  margin-top: 0;
}

.popup-content .btn{
  background: #264838;
  background: linear-gradient(0deg, #264838 0%, #3B6E51 100%);
  border: none;
  width: 200px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  outline: none;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 11rem;
  box-shadow:inset 2px 2px 2px 0px rgba(214,239,199,.5), 7px 7px 20px 0px rgba(0,0,0,.1), 4px 4px 5px 0px rgba(0,0,0,.1);
}

.popup-content .btn::before{
  height: 0%;
  width: 2px;
}

.popup-content .btn:hover {
  box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
              -4px -4px 6px 0 rgba(116, 125, 136, .5), 
    inset -4px -4px 6px 0 rgba(255,255,255,.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
  font-weight: bold;
}

                            /* Dropdown */

.drop{
    width: 50%;
    padding: 0.5rem;
    font-size: 1rem;
    max-width: 20rem;
    font-weight: 400;
    margin-top: 10px;
    margin-left: 8.5rem;
    border: 2px solid #6d9976;
    border-radius: 1.3rem;
}

                                  /*  button */

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover, .close:focus {
  color: red;
  text-decoration: none;
  cursor: pointer;
}

#btnRegister{
  background: #264838;
  background: linear-gradient(0deg, #264838 0%, #3B6E51 100%);
  border: none;
  width: 100px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
  position: absolute;
  margin-top: -48px;
  outline: none;
  margin-left: 27rem;
  box-shadow:inset 2px 2px 2px 0px rgba(214,239,199,.5), 7px 7px 20px 0px rgba(0,0,0,.1), 4px 4px 5px 0px rgba(0,0,0,.1);
}

.main-content .content .profiledata .btn{
  background: #264838;
  background: linear-gradient(0deg, #264838 0%, #3B6E51 100%);
  background-position-x: 2%; /* Modified value */
  border: none;
  width: 100px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  outline: none;
  box-shadow: inset 2px 2px 2px 0px rgba(214,239,199,.5), 7px 7px 20px 0px rgba(0,0,0,.1), 4px 4px 5px 0px rgba(0,0,0,.1);
}

.main-content .content .profiledata .btn:hover {
  box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
              -4px -4px 6px 0 rgba(116, 125, 136, .5), 
    inset -4px -4px 6px 0 rgba(255,255,255,.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
}

#profilebtn{
  background: #264838;
  background: linear-gradient(0deg, #264838 0%, #3B6E51 100%);
  background-position-x: 2%; /* Modified value */
  border: none;
  width: 210px;
  height: 45px;
  color: #fff;
  border-radius: 5px;
  font-weight: 500;
  margin-left: 5.2rem;
  margin-bottom: 1.5rem;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  outline: none;
  box-shadow: inset 2px 2px 2px 0px rgba(214,239,199,.5), 7px 7px 20px 0px rgba(0,0,0,.1), 4px 4px 5px 0px rgba(0,0,0,.1);
}

                                    /* success message */ 

.success-message {
background-color: #D6EFC7;
color: #6d9976;
padding: 10px;
margin-bottom: 2%;
border-radius: 10px;
margin-right: 2rem;
margin-left: 2rem;
}

.notsuccess-message {
background-color: #D6EFC7;
color: red;
padding: 10px;
margin-bottom: 2%;
border-radius: 10px;
margin-right: 2rem;
margin-left: 2rem;
}






