
    
.home-content .main-content .content .form input{
    width: 100%;
    padding: 1rem;
    font-size: 1rem;
    max-width: 30rem;
    font-weight: 400;
    border: 2px solid #6d9976;
    border-radius: 1.3rem;
    box-sizing: border-box;
    resize: vertical;
    margin-top: 5%;
    margin-left: 20%;
}
  
.home-content .main-content .content .form .btn{
    background: #264838;
    background: linear-gradient(0deg, #264838 0%, #3B6E51 100%);
    border: none;
    width: 300px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    outline: none;
    margin-bottom: 2%;
    margin-left: 30%;
    margin-top: 10%;
    box-shadow:inset 2px 2px 2px 0px rgba(214,239,199,.5), 7px 7px 20px 0px rgba(0,0,0,.1), 4px 4px 5px 0px rgba(0,0,0,.1);
  
}

.home-content .main-content .content .form .btn:hover{
    box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
                -4px -4px 6px 0 rgba(116, 125, 136, .5), 
                inset -4px -4px 6px 0 rgba(255,255,255,.2),
                inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
}

.home-content .main-content .content h3{
    padding: 8px;
    background-color: red;
    width: 80%;
    margin-left: 10%;
    color: #fff;
}

  
  /* DIV */
  
.content .left {
    overflow-y: auto;
    background-color: #ffffff;
    width: 50%;
    height: 33rem;
    border-radius: 20px;
    margin-left: 25%;
    margin-top: 5%;
    box-shadow: 2px 2px 3px 3px rgba(0, 0, 0, 0.2), 2px 6px 3px 3px rgba(0, 0, 0, 0.2);
}


